# Dcouments
docs/

# Development
.devcontainer/
.github/
.vscode/
commands/
log/
src/
test/
.ToDo

# Read Me
README.git.tmp
res/

# Configuration Files
.babelrc
.travis.yml
tsconfig.json
typedoc.json
*.lock

# System Files
desktop.ini
Icon