# Dcouments
docs/

# Development
dev/
lib/
node_modules/
test/
ToDo
.travis.yml

# Read Me
README.git.md
ReadMeRes/

# Configuration Files
tsconfig.json
typedoc.json

# System Files
desktop.ini
.DS_Store
Icon