# Dcouments
docs/

# Development
.github/
.vscode/
commands/
dev/
src/
test/
.ToDo


# Read Me
README.git.tmp
ReadMeRes/

# Configuration Files
.babelrc
.travis.yml
tsconfig.json
typedoc.json
*.lock

# System Files
desktop.ini
Icon